* @saadrahim @Rmalavally @amd-aakash @jlgreathouse @samjwu @MathiasMagnus @ROCm/rocm-documentation
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
