.venv
.vscode
build

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/

# avoid duplicating contributing.md due to conf.py
docs/CHANGELOG.md
docs/contribute/contribute_to_documentation/index.md
docs/about/release-notes.md